name: Build eCaptureBurp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    - name: Build JAR
      run: ./gradlew clean jar

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: eCaptureBurp-jar
        path: build/libs/*.jar
